.col-md-1{

   display: flex;
    border-radius: 10px;
    margin: 10px;
}

.btn-primary{

    border-radius: 8px;
    background-color: #CC0099;
    margin: 2px;
}

.btn-second{
    border-radius: 8px;
    background-color: grey;
    margin: 2px;

}